<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>{% block title %}Default title{% end %}</title>
</head>
<body>

{% block navbar %}
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="\">AstroAssistant</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav">
                {% for page in app_pages %}
                {% if page['name'] == active_page %}
                <li class="active"><a href="{{ page['url'] }}">{{ page['name'] }}</a></li>
                {% else %}
                <li><a href="{{ page['url'] }}">{{ page['name'] }}</a></li>
                {% end %}
                {% end %}
            </ul>
        </div>
    </div>
</nav>
{% end %}

{% block body %}
<div class="container">
    {% block body_status %}
    {% if app_state[0] == 0 %}
    <div class="alert alert-danger">
        <h2>Camera not found!</h2>
        <p>Please connect a camera to your AstroAssistant and click 'Connect Camera'!</p>
        <button type="button" class="btn btn-info" id="btn_connect_camera">Connect Camera</button>
    </div>
    <script>
       $(btn_connect_camera).click(function() {
          $.ajax({
             type: 'GET',
             url: "/action/btn_connect_camera",
             success: function (data) {
                setInterval('location.reload()', 100);
             }
          });
       })
    </script>
    {% end %}
    {% end %}
    {% block body_container %}
    <p>Default block</p>
    {% end %}
</div>
{% end %}

</body>
</html>